<div class="welcome-text">
    <h2>Welcome to our homepage!</h2>
    <p>Welcome to our Dungeons & Dragons information portal! Explore the world of D&D with our comprehensive guides on races, classes, and backgrounds. Whether you're a seasoned adventurer or a newcomer to the realm, we're here to help you on your journey. Begin your quest now!
    </p>
</div>